.sidenav---sidenav---_2tBP.sidenav---expanded---1KdUL {
    background-color: hsl(229, 9%, 24%);
    margin-top: 50px;
}

.sidenav---sidenav---_2tBP {
    background-color: #373942;
    margin-top: 50px;
}
.nav-style {
    position: fixed;
    background: #e44745;
}
